{% extends "base.html" %}

{% block content %}
    <h3>42 Coffee Cups Test Assignment</h3>

    <div class="contacts">
        <div class="blocks">
            <p>{{ request.user.first_name }}</p>
            <p>{{ request.user.last_name }}</p>
            <p>{{ request.user.userprofile.date_of_birth }}</p>
            <p>
                Bio:<br>
                {{ request.user.userprofile.bio }}
            </p>
        </div>
        <div class="blocks">
            <p>Contacts</p>
            <p>Email: {{ request.user.email }}</p>
            <p>Jabber: {{ request.user.userprofile.jabber }}</p>
            <p>Skype: {{ request.user.userprofile.skype }}</p>
            <p>
                Other contacts:<br>
                {{ request.user.userprofile.contacts }}
            </p>
        </div>
    </div>

    <div>
        <p>You can now go to <a href="{% url admin:index %}">admin interface</a> and change admin pasword</p>
        <p>Currently next users are registered: {% for user in users %}{{ user.username }} {% endfor %}</p>
    </div>
{% endblock content %}
